fieldset {
    margin-top: 10px;
    margin-left: 5vw;
    width: 30vw; 
}
#mi-img {
    height:20vh;
}

#opt-0 {
    color: black;
    background-color: rgb(188, 181, 181);
}

#opt-1 {
    color: white;
    background-color: rgba(128, 128, 128, 0.364);
}

#opt-2 {
    color: violet;
    background-color: rgb(49, 179, 35);
}

#opt-3 {
    color: pink;
    background-color:rgb(161, 57, 87);
}